
@{
    ViewBag.Title = "Chair";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        System.import('../app/Iteams/Chair/main').catch(function (err) { });
    </script>
    <script src="~/Scripts/Account/Test.js"></script>


</head>
<body>

    <h2>Home</h2>
    <sofaApp></sofaApp>
    <script src="~/Scripts/SideMenu.js"></script>

</body>
</html>

