
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<script>
    System.import('../app/Members/main').catch(function (err) { });
</script>

<div style="margin-top:50px;">

    <Membersapp></Membersapp>

</div>




