
@{
    ViewBag.Title = "Login";

}

<html>
<head>
    @*<link href="~/Style/CSS/Login.css" rel="stylesheet" />
        <script src="~/Scripts/Account/Login.js"></script>*@
</head>
<body>
    @Html.Partial("_NavBarMenu")

    <h2>Member Access <p>Access a world of Possibilities</p></h2>

    <app-root></app-root>

</body>


</html>
