<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>

    <link href="~/Style/CSS/ResetPassword.css" rel="stylesheet" />

    <script>
        function ResetPassword() {
            var oldPassword = $("#oldpassword").val();
            var NewPassword = $("#newpassword").val();
            var CPassword = $("#confirmpassword").val();

            //if (oldPassword == "" || oldPassword == undefined) {
            //    alert("Enter Old Password");
            //}
            //if (NewPassword == "" || NewPassword == undefined) {
            //    alert("Enter New Password");
            //}
            //if (CPassword == "" || CPassword == undefined) {
            //    alert("Enter Confirm Password");
            //}

            $('#btnResetPassword').attr('disabled', 'disabled');
            var url = $("#PasswordResetForm").attr("action");

            var formdata = new FormData();

            formdata.append("oldpassword", $("#oldpassword").val());
            formdata.append("NewPassword", $("#newpassword").val());
            formdata.append("CPassword", $("#confirmpassword").val());
            //var formData = $(this).serialize(); // serialize form data

            $.ajax({
                type: 'POST', // match the form method
                url: url, // get the action URL from the form
                //url: $("#LoginModel").attr("action"); We can also use
                data: formdata,
                processData: false,
                contentType: false
            }).done(function (response) {
                if (Response) {
                    alert("Password reset Successfully");
                    window.location.href = "../Home/Home";

                }
                else {
                    alert("Invalid Form data!");
                }

            });
        }

    </script>

</head>
<body>
    <div class="update-container">
        <h2>Update Password</h2>
        <form runat="server" id="PasswordResetForm" method="post" action="~/Home/ResetPassword">
            <label for="oldpassword" style="height:20px">Old Password:</label>
            <input type="password" id="oldpassword" ng-model="oldpassword" runat="server" name="oldpassword" required>
            <label for="newpassword" style="height:20px">New Password:</label>
            <input type="password" id="newpassword" ng-model="newpassword" runat="server" name="newpassword" required>
            <label for="confirmpassword" style="height:20px">Confirm Password:</label>
            <input type="password" id="confirmpassword" ng-model="confirmpassword" runat="server" name="confirmpassword" style="align-content:center" required>
            <button type="submit" id="btnResetPassword" onclick="ResetPassword()">Update Password</button>
        </form>
    </div>
</body>
</html>
